body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 40px ;
}
.red{
    color:red;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 40%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
   background-image: linear-gradient(red, yellow);
padding: 10px 40px;
border-radius: 10px;
font-weight: 700;
color: black;
text-decoration: none;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.side-move{
    margin: 2 %;
}
.experiance-item{
    width: 40%;
box-shadow: 10px 10px 40px navy;
margin-left: 5%;
margin-right: 5%;
padding: 10px;
border-radius: 10px;}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    }
  #baby-web{ border-image: linear-gradient(blue,red);
    border-left: 7px solid;
      
    border-image-slice: 1;
  } 
  #big-web{border-image: linear-gradient(black,yellow);
    border-left: 7px solid;
      
    border-image-slice: 1;
  } 

  } 