body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
h1{
    font-size: 70px;
}
.red{
    color:red;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 40%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
   background-image: linear-gradient(red, yellow);
padding: 10px 40px;
border-radius: 10px;
font-weight: 700;
color: black;
text-decoration: none;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.side-move{
    margin: 2%;
}